<div class="card" style="width: 25rem; ">
  <% if brand.picture.attached? %>
     <div style="background-color: black; width: 100%">
      <%= image_tag brand.picture.variant(resize: '397x298'), class: 'mx-auto d-block' %> 
    </div>
  <% else %>
    <%= image_tag 'brand_default.jpg', class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= brand.fantasy_name %></h5>
    <p class="card-text"><%= brand.description %></p>
    <%= link_to 'Edit', edit_brand_path(brand), remote: :true, class: "btn btn-primary" %>
  </div>
</div>