<%= form_with model: @brand do |form| %>
  <div class="form-group">
    <%= form.label I18n.t('.activerecord.model.brand.fantasy_name') %>
    <%= form.text_field :fantasy_name, class: "form-control", placeholder: I18n.t('.activerecord.model.brand.fantasy_name') %>
  </div>
  <div class="form-group">
    <%= form.label I18n.t('.activerecord.model.brand.description') %>
    <%= form.text_area :description, class: "form-control", placeholder: I18n.t('.activerecord.model.brand.description') %>
  </div>
  <div class="form-group">
    <% if  @brand.picture.attached? %>
      <%= image_tag @brand.picture, style: "width: 200px; display: block" %>
    <% end %>
  </div>
  <div>
    <%= form.label :picture %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>
  <div class="modal-footer">
    <%= form.submit @brand.new_record? ? I18n.t('.new') : I18n.t('.update'), class: 'btn btn-dark' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
