<div class="p-4">
  <div class="container">
    <div>
      <%= link_to t('.new'), new_brand_path, class: "btn btn-dark"  %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <% @brands.each do |brand| %>
          <li class="list-group-item list-group-item-action" value="<%=brand.id%>"><b><%= brand.fantasy_name%></b> - <%= brand.description%></li>  
        <% end %>
      </ul>
      <%= will_paginate(@brands, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer)%>
    </div>
    <div class="col-8" id="show_preview"></div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'brands/preview_card' %>