<%= form_with model: @instrument do |form| %>
  <p>
    <%= form.label :serie %>
    <%= form.text_field :serie %>
  </p>
  
  <p>
    <%= form.label :line %>
    <%= form.text_field :line %>
  </p>

  <p>
    <%= form.label :price %>
    <%= form.text_field :price %> 
  </p>

  <p>
    <%= form.label :brand %>
    <%= form.select :brand_id, Brand.all.map { |brand| [brand.fantasy_name, brand.id] } %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>


  
  <%= form.submit %>
<% end %>