<div class="container">
  <div class="row">
    <% @instruments.each do |instrument| %>
      <div class="card m-2" style="width: 20rem;">
        <%= image_tag 'card_default.png', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= instrument.brand.fantasy_name %> - <%= instrument.serie %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><b>Price: R$</b> <%= instrument.price %></h6>
          <p class="card-text"><%= instrument.description %></p>
          <%= link_to  edit_instrument_path(instrument),  class: 'card-link', style: 'text-decoration:none;' do %>
            <i class="fas fa-pen-square"></i>
          <% end %>
          <%= link_to  instrument, method: :delete, data: { confirm: 'Are you sure you want to delete this alert?' } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
