<h1>Show<h1>

<p><%= @instrument.brand.fantasy_name %></p>
<p>
  Serie: <td><%= @instrument.serie %></td>
</p> 


<p>
 Line:  <td><%= @instrument.line %></td>
</p> 

<p>

  Price: <td>$ <%= @instrument.price %></td>
</p> 

<p>
  Description: <td><%= @instrument.description %></td>
</p> 



