<div class="mm-navtop mm-bk-black">
  <%= link_to 'MAD-MUSIC', root_path %>
  <div class="dropdown">
    <button class="dropbtn mm-bk-black">
      <div class="mm-icon-bar mm-bk-white"></div>
      <div class="mm-icon-bar mm-bk-white"></div>
      <div class="mm-icon-bar mm-bk-white"></div>
    <div class="dropdown-content">
      <a href="#">SIGNUP</a>
      <a href="#">SIGN IN</a>
    </div>
  </div>
</div>
<div class="mm-topBanner">
  <p>
  <%= link_to 'GUITARS', instruments_path %>
  <%= link_to 'INSTRUMENTS', instruments_path %>
  <%= link_to 'BRANDS', brands_path %>
  </p>
</div>
<%= stylesheet_link_tag '/assets/dashboard.css' %>