<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'MAD-MUSIC', root_path, class: 'navbar-brand' %>
  <div class="dropdown show dropleft">
    <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown">
        <div class="mm-icon-bar mm-bk-white"></div>
        <div class="mm-icon-bar mm-bk-white"></div>
        <div class="mm-icon-bar mm-bk-white"></div>
      </div>
    </a>
    <div class="dropdown-menu mm-bk-black" aria-labelledby="dropdownMenuLink">
      <% if user_signed_in? %>
        <%= link_to 'Edit Perfil', edit_user_registration_path, class: 'mm-cl-white' %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'mm-cl-white' %>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path, class: 'mm-cl-white' %>
        <%= link_to t('.sign_in'), new_user_session_path, class: 'mm-cl-white' %>
      <% end %>
    </div>
  </div>
</nav>
